<div class="row">
  <div class="col-md-12" style="background-color:#333;color:#fff">
      <span>金数据新功能内测申请</span>
    <div class="pull-right">
      发布表单：<input type="text" />
    </div>
  </div>
</div>
<div class="row">
  概述
</div>